.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Components {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 750px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar{
	display: none; 
	/* 스크롤바 지우기 */
}

.detailComponent {
  margin-top: 20px;
}

.emptytitle {
	cursor: pointer;
  color: rgb(83, 83, 83);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.loginbg {
  min-height: 750px;
  background: url(/public/pic1.jpg);
  background-size: cover;
}

.login {
  display: flex;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.loginTitle {
  margin-top: 10px;
  font-weight: bold;
}

.loginBox {
  border-radius: 10px;
  margin-top: 160px;
  display: inline-block;
  padding: 30px;
  background-color: white;
  width: 520px;
  height: 445px;
}

.logintab {
  display: flex;
  padding-top: 10px;
  cursor: pointer;
}

.loginTab2 {
  width: 100%;
  background-color: white;
}

.IdInput {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
}

.PwInput {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
}

.loginBtn {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
}

.registerBtn {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 15em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-bottom: 50px;
}

.findBtnTab {
  display: flex;
  margin-right: 5px;
  margin-top: 5px;
  justify-content: flex-end;
  padding-top: 5px;
}

.findBtn {
  margin: 0 10px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.doneBtn {
  display: inline-block;
  width: 100%;
  height: 55px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-bottom: 50px;
}

.doneBtndiabled {
	display: inline-block;
  width: 100%;
  height: 55px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-bottom: 50px;
	opacity: 50%;
}

.home {
  display: flex;
  position: relative;
  max-width: 2200px;
  overflow: hidden;
}

.cardlist {
  width: 100%;
  display: flex;
  min-height: 14em;
  overflow-x: hidden;
	scroll-behavior: smooth;
  flex-wrap: nowrap;
  padding: 0px 3.125em;
  transform: translate3d(-0.5em, 0px, 0px);
}

.lefttab {
  align-items: center;
  z-index: 4;
  position: absolute;
  top: 0px;
  width: 2.875em;
  height: 31em;
  background-color : rgb(0,0,0); opacity : 0.25;
  cursor: pointer;
  justify-content: flex-start;
  border-radius: 0.25em;
  left: 0px;
}

.lefttabnone{
	display: none;
  align-items: center;
  z-index: 4;
  position: absolute;
  top: 0px;
  width: 2.875em;
  height: 32em;
  background-color: whitesmoke;
  cursor: pointer;
  justify-content: flex-start;
  border-radius: 0.25em;
  left: 0px;
}

.righttab {
  align-items: center;
  z-index: 4;
  position: absolute;
  top: 0px;
  width: 2.875em;
  height: 31em;
	background-color : rgb(0,0,0); opacity : 0.25;
  cursor: pointer;
  justify-content: flex-end;
  border-radius: 0.25em;
  right: 0px;
}

.righttabnone {
	display: none;
  align-items: center;
  z-index: 4;
  position: absolute;
  top: 0px;
  width: 2.875em;
  height: 32em;
  background-color: whitesmoke;
  cursor: pointer;
  justify-content: flex-end;
  border-radius: 0.25em;
  right: 0px;
}

.lists {
  margin-left: 10px;
  margin-right: 10px;
}

.cardstyle {
  /* padding: 2px; */
  /* min-width: 300px; */
  width: 370px;
  min-height: 500px;
	margin-right: 10px;
	margin-left: 10px;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.cardtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
}

.cardtitletext {
  color: rgb(83, 83, 83);
  font-size: 20px;
  font-weight: bold;
}

.listcontent {
  align-items: center;
  justify-content: center;
}

.badgeCss1 {
	font-size: 1em;
	font-weight: bold;
	text-overflow: ellipsis;
  text-align: center;
	white-space: nowrap;
  overflow: hidden;
	width: 86px;
  height: 36px;
	background-color: #318c00;
  color: #fff;
	border-radius: 5px;
}

.badgeCss2 {
	font-size: 1em;
	font-weight: bold;
	text-overflow: ellipsis;
  text-align: center;
	white-space: nowrap;
  overflow: hidden;
	width: 86px;
  height: 36px;
	background-color: #8c0000;
  color: #fff;
	border-radius: 5px;
}

.btnCss1 {
  display: inline-block;
  width: 86px;
  height: 36px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #0059be;
  color: #fff;
}

.btnCss1disabled {
  display: inline-block;
  width: 86px;
  height: 36px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #0059be;
  color: #fff;
	opacity: 50%;
}

.btnCss2 {
  /* display: inline-block; */
  width: 100px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
}

.btnCss3 {
	display: inline-block;
  width: 86px;
  height: 36px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #be0000;
  color: #fff;
}

.tbody1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tr1 {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.td1 {
  text-align: center;
}

.mypage {
  width: 1250px;
  /* background-color: thistle; */
  margin-right: auto;
  margin-left: auto;
}

.userinfo {
  /* background-color: beige; */
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

.usr-account {
  display: flex;
  margin-bottom: 10px;
}

.usr-id {
  /* background-color: antiquewhite; */
  display: flex;
  margin-bottom: 10px;
}

.usr-pw {
  /* background-color: antiquewhite; */
  display: flex;
  margin-bottom: 10px;
}

.usr-email {
  /* background-color: antiquewhite; */
  display: flex;
  margin-bottom: 10px;
}

.usr-title {
  margin-right: 10px;
  display: flex;
  width: 75px;
  height: 85px;
  justify-content: flex-start;
}

.usr-content {
  margin-left: 10px;
}

.usr-content-data {
  margin-bottom: 10px;
  color: darkslateblue;
  font-size: 1.2em;
  font-weight: bold;
}

.divider {
  border: 0px;
  border-top: 2px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.listtable {
  margin-top: 40px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.addlist {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.addlisttop {
  min-width: 1300px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.addlistcontent {
  margin-right: 10px;
  margin-bottom: 20px;
}

.addlistsubtitle {
  display: flex;
  margin-bottom: 15px;
  margin-left: 3px;
  /* background-color: aliceblue; */
  font-weight: bold;
  font-size: 28px;
  color: darkslateblue;
}

.addinput {
  width: 400px;
  height: 60px;
  border: 0;
  border-radius: 15px;
  background-color: #f4f4f4;
  background-size: 30px;
  padding: 5px 10px 5px 20px;
}

.listtop {
  display: flex;
}

.excelBtn {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}

.delBtn {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #961f1f;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}

.delBtn2 {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #dcae2e;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}

.tables {
  display: flex;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.notprepared {
	
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
  font-size: 30px;
  color: black;
}

.checkboxcontain {
  width: 20px;
}

.rentlist {
  margin-bottom: 20px;
}

.registerpage {
  margin-top: 50px;
  /* background-color: antiquewhite; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.registertitle {
  display: flex;
  margin-bottom: 30px;
  /* background-color: aliceblue; */
  font-weight: bold;
  font-size: 40px;
  color: black;
}

.registersubtitle {
  display: flex;
  margin-bottom: 30px;
  /* background-color: aliceblue; */
  font-weight: bold;
  font-size: 30px;
  color: darkslateblue;
}

.rerenderBtn {
	display: inline-block;
  width: 86px;
  height: 36px;
  font-size: 0.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #0059be;
  color: #fff;
  margin-left: 20px;
  margin-top: 5px;
}

.registerinput {
  width: 400px;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
  margin-right: 20px;
}


.registerid {
  display: flex;
}

.registerpw1 {
  display: flex;
}

.registerpw2 {
  display: flex;
}

.cantuseid {
  display: flex;
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.canuseid {
  display: flex;
  color: blue;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.needuseid {
  display: flex;
  color: orange;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.rentpage {
  margin-top: 50px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.rentpledgecontainer {
  border: 1px solid;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
}

.rentsubtitle {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.rentsubhead {
  display: flex;
  font-weight: bold;
  font-size: 19px;
}

.rentcontent {
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3px;
  margin-bottom: 10px;
}

.importantcontent {
  color: red;
}

.applicationcontent {
  text-align: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3px;
  margin-bottom: 10px;
}

.signcontent {
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.applicationdate {
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 22px;
}

.registername {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

.userrentinfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.guestrentinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.guestinfo {
  width: 250px;
  margin-bottom: 30px;
  /* background-color: aliceblue; */
  font-weight: bold;
  font-size: 30px;
  color: darkslateblue;
}

.renterinfo {
  width: 500px;
  align-items: center;
  margin-left: 20px;
  font-size: 25px;
  color: black;
}

.rentcontain1 {
  display: flex;
}

.rentcontain2 {
  display: flex;
  margin-left: 20px;
}

.rentsubtitle2 {
  display: flex;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.approvetopcontainer {
  margin-top: 40px;
}

.rentBtn {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
}

.findidBtn {
  display: inline-block;
  width: 150px;
  height: 60px;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-bottom: 50px;
}

.agreeradiobtn {
  margin-right: 5px;
}

.disagreeradiobtn {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 7px;
  text-decoration: none;
}

.mainfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footcontainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 1200px;
  height: auto;
}

.footcontainer > p {
  font-weight: bold;
  padding-top: 15px;
  font-size: 12px;
  min-width: 1px;
  text-align: left;
  color: #999999;
}

.ynclogo {
  font-size: 0;
  width: 163px;
  background: url(/public/ynclogo.png) left center no-repeat;
  margin-right: 10px;
}

.ynclogo2 {
  cursor: pointer;
  width: 45px;
  margin-right: 10px;
}

.topnavbar {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.navbars {
	width: 100%;
	display: flex;
	align-items: center;
}

.navtitlecontainer {
	margin-left: 4%;
}

.navtitle {
  cursor: pointer;
  color: midnightblue;
  font-size: 25px;
  font-weight: bold;
}

.navtabscontainer {
	min-width: 400px;
}

.navtabs {
  color: rgb(83, 83, 83);
  font-size: 1em;
  font-weight: bold;
}

.navlogintab {
	justify-content: flex-end;
	margin-right: 10%;
}

.navlogin {
  cursor: pointer;
  color: rgb(83, 83, 83);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.navlogout {
  cursor: pointer;
  margin-left: 12px;
  color: rgb(0, 55, 255);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
