.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Components {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.detailComponent {
  margin-top: 20px;
}

.login {
  display: flex;
  width: 50%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: lightgray;
}

.loginTitle {
  margin-top: 10px;
  font-weight: bold;
}

.loginBox {
  display: inline-block;
  padding: 10px;
  background-color: white;
  width: 500px;
  height: 425px;
}

.logintab {
  padding-top: 10px;
  cursor: pointer;
}

.loginTab2 {
  width: 100%;
  background-color: white;
}

.IdInput {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
}

.PwInput {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
}

.loginBtn {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
}

.registerBtn {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-bottom: 50px;
}

.findBtnTab {
  display: flex;
  margin-right: 5px;
  margin-top: 5px;
  justify-content: flex-end;
  padding-top: 5px;
}

.findBtn {
  margin: 0 10px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.cardstyle {
  padding: 3px;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardtext {
  list-style-type: none;
  margin: 10px;
}

.listcontent {
  align-items: center;
  justify-content: center;
}

.badgeCss {
  padding-top: 6px;
  width: 70px;
  height: 25px;
}



.btnCss1 {
  width: 85px;
  height: 35px;
	font-weight: bold;
}

.btnCss2 {
  width: 85px;
  height: 35px;
  margin-bottom: 20px;
  font-weight: bold;
}

.tbody1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tr1 {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.td1 {
  text-align: center;
	
}

.mypage {
  width: 1250px;
  /* background-color: thistle; */
  margin-right: auto;
  margin-left: auto;
}

.userinfo {
  /* background-color: beige; */
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

.usr-account {
  display: flex;
  margin-bottom: 10px;
}

.usr-id {
  /* background-color: antiquewhite; */
  display: flex;
  margin-bottom: 10px;
}

.usr-pw {
  /* background-color: antiquewhite; */
  display: flex;
  margin-bottom: 10px;
}

.usr-email {
  /* background-color: antiquewhite; */
  display: flex;
  margin-bottom: 10px;
}

.usr-title {
  margin-right: 10px;
  display: flex;
  width : 75px;
  height: 85px;
  justify-content: flex-start;
  
}

.usr-content {
  margin-left: 10px;
}

.usr-content-data {
  margin-bottom: 10px;
  color: darkslateblue;
  font-size: 22px;
  font-weight: bold;
}

.divider {
  border: 0px;
  border-top: 2px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.listtable {
	margin-top: 40px;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.listtop  {
	display: flex;
}

.excelBtn {
	display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px 10px; */
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
	margin-left: 20px;
	margin-top: 10px;
}

.tables{
  display: flex;
  width:1300px;
  margin-left: auto;
  margin-right: auto;
}

.rentlist{
  margin-bottom: 20px;
}

.registerpage {
  margin-top: 50px;
  /* background-color: antiquewhite; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.registertitle {
  display: flex;
  margin-bottom: 30px;
  /* background-color: aliceblue; */
  font-weight: bold;
  font-size: 40px;
  color: black;
}

.registersubtitle{
  display: flex;
  margin-bottom: 30px;
  /* background-color: aliceblue; */
  font-weight: bold;
  font-size: 30px;
  color: darkslateblue;
}

.rerenderBtn {
	width : 85px;
	height : 37px;
	margin-left: 15px;
	margin-top: 8px;
}

.registerinput {
  width: 400px;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
  margin-right: 20px;
}

.btnCss2 {
  /* display: inline-block; */
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
}

.registerid {
  display: flex;
}

.registerpw {

}

.registerpw1 {
  display: flex;
}

.registerpw2 {
  display: flex;
}

.cantuseid{
  display: flex;
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.canuseid{
  display: flex;
  color: blue;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.needuseid {
  display: flex;
  color: orange;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

.rentpage {
  margin-top: 50px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.rentpledgecontainer {
  border: 1px solid;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
}

.rentsubtitle {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.rentsubhead {
  display: flex;
  font-weight: bold;
  font-size: 19px;
}

.rentcontent {
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3px;
  margin-bottom: 10px;
  
}

.importantcontent {
  color: red;
}

.applicationcontent {
  text-align: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3px;
  margin-bottom: 10px;
}

.signcontent {
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.applicationdate {
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 22px;
}

.registername {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

.userrentinfo {
  display: flex;
  justify-content: space-around;
}

.renterinfo {
  margin-left: 20px;
  padding-top: 5px;
  font-size: 25px;
  color: black;
}

.rentcontain1 {
  display: flex;
}

.rentcontain2 {
  display: flex;
  margin-left: 20px;
}

.rentsubtitle2 {
  display: flex;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.approvetopcontainer {
  margin-top: 40px;
}

.findidBtn {
	display: inline-block;
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
