.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Components {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.detailComponent {
  margin-top: 20px;
}

.login {
  display: flex;
  width: 50%;
  height: 90vh;
  align-items: center;
  background-color: lightgray;
}

.loginTitle {
  margin-top: 10px;
  font-weight: bold;
}

.loginBox {
  display: inline-block;
  padding: 10px;
  background-color: white;
  width: 500px;
  height: 425px;
}

.loginTab2 {
  width: 100%;
  background-color: white;
}

.IdInput {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
}

.PwInput {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 20px;
  background-color: #f4f4f4;
  background-size: 30px;
}

.loginBtn {
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #1f4596;
  color: #fff;
}

.findBtnTab {
  display: flex;
  margin-right: 5px;
  margin-top: 5px;
  justify-content: flex-end;
  padding-top: 5px;
}

.findBtn {
  margin: 0 10px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.cardstyle {
  padding: 3px;
 
  
}

.cardcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardtext {
  list-style-type: none;
  margin: 10px;
}

.listcontent {
  align-items: center;
  justify-content: center;
}

.badgeCss {
  padding-top: 6px;
  width : 70px;
  height : 25px;
}

.btnCss1 {
  width : 85px;
  height : 35px;
}

.tbody1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tr1 {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.td1 {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
